# Core
fastapi==0.115.0
uvicorn[standard]==0.30.1
python-dotenv==1.0.0

# Database
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.13.1

# Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6

# HTTP Client (for bot)
httpx==0.27.0

# CORS
aiofiles==23.2.1

# Pydantic (совместимая версия для Python 3.12)
pydantic==2.5.3
pydantic-core==2.14.6
stripe==5.0.0
python-socketio>=5.12.0
